body{

margin:0;
padding:0;

font-family:Arial, Helvetica, sans-serif;

background:#0D1B2A;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.login-card{

background:white;

padding:40px;

border-radius:10px;

width:350px;

box-shadow:0px 5px 20px rgba(0,0,0,.3);

text-align:center;

}

.login-card h2{

color:#0D1B2A;

margin-bottom:10px;

}

.login-card p{

color:gray;

margin-bottom:20px;

}

.btn-warning{

background:#FF9900;

border:none;

}

.btn-warning:hover{

background:#ff8800;

}

.form-control{

height:45px;

}